<!DOCTYPE html>
<html lang="en">
<head>
  <meta id="parent" th:replace="/header/include_css"></meta>
  <!-- DataTables -->
  <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <!-- ヘッダー -->
   <div id="parent" th:replace="/header/header"></div>   

  <!-- サイドバー -->
    <div id="parent" th:replace="/header/sidebar"></div>  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 class="m-0">問題詳細</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">        
	  <!--実行中画面 -->
	  <div id="waiting" class="col-md-12 align-items-center justify-content-center" >
          		<div class="d-flex justify-content-center flex-column align-items-center">
				<p><i class="fas fa-8x fa-sync-alt fa-spin"></i></p>
				<div class="d-flex">
			      <h2 class="string">採</h2>
			      <h2 class="string">点</h2>
			      <h2 class="string">中</h2>
			      <h2 class="string">・</h2>
			      <h2 class="string">・</h2>
			      <h2 class="string">・</h2>
				</div>
          		</div>
		</div>
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            <div class="card card-primary shadow-none">
              <div class="card-header">
                <h1 class="card-title" th:text="${assignmentdetailDto.title}"></h1>

                <div class="card-tools">
                  <button th:unless="${session['LoginInfo'].isStudent()}" type="button" class="btn btn-tool" id="question-edit"   data-toggle="tooltip" title="この問題を編集する">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="d-flex">
                  <div class="col-md-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-primary"><i class="fas fa-layer-group"></i></span>
        
                      <div class="info-box-content">
                        <span class="info-box-text">問題グループ</span>
                        <span class="info-box-number" th:text="${assignmentdetailDto.groupName}"></span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-success"><i class="far fa-grin-tongue-squint"></i></span>
        
                      <div class="info-box-content">
                        <span class="info-box-text">問題難易度</span>
                        <span class="info-box-number" th:text="${assignmentdetailDto.difficulty}"></span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-danger"><i class="fas fa-file-alt"></i></span>
        
                      <div class="info-box-content score_result" data-toggle="tooltip" title="提出済みの場合はクリックで詳細へ">
                        <span class="info-box-text">提出状況</span>
                        <span class="info-box-number totalScore" th:text="${assignmentdetailDto.correct} ? '提出済':'未提出'"></span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  </div>
                    
                </div>
                
                <div class="d-flex">
                  <div class="col-md-12">
                    <div class="info-box">
                      <span class="info-box-icon bg-warning"><i class="fab fa-angellist"></i></span>
        
                      <div class="info-box-content score_result">
                        <span class="info-box-text">この問題で獲得可能なスキル</span>
                        <span class="info-box-number" th:text="${assignmentdetailDto.getSkillSetting()}"></span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  </div>
                </div>
                <!-- 問題文 -->
                <div class="col-md-12">
                  <div class="card card-outline card-primary">
                    <div class="card-header">
                      <h3 class="card-title">問題文</h3>
                    </div>
                    <div class="card-body" th:utext="${assignmentdetailDto.content}">
                    </div>
                  </div>
                </div>
                <!-- 回答欄 -->
                <div class="col-md-12">
                  
                  <div class="card">
                    <div class="card-header d-flex p-0">
                      <h3 class="card-title p-3">解答欄</h3>
                      <ul class="nav nav-pills ml-auto p-2">
                        <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">直接入力</a></li>
                        <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">ファイルアップロード</a></li>
                      </ul>
                    </div>
	                    <div class="card-body">
	                      <div class="tab-content">
	                        <!--1ページ目-->
	                        <div class="tab-pane active" id="tab_1">
                    		  <form id="answer_text_form">
                    		      <input type="hidden" name="assignmentId" id="assignmentId" th:value="${assignmentdetailDto.assignmentId}">
		                          <div class="editor_container">
		                            <div class="answer_wrap">
		                              <div class="title_wrap mb15">
		                                <h3 class="h3_title">
		                                解答欄
		                                </h3>
		                                <div class="answer_wrap_option d-flex">
		                                    <button type="button" class="btn btn-default btn-sm m-r-5" data-placement="bottom" id="code_plus">
		                                    <i class="fa fa-search-plus" data-toggle="tooltip" title="大きくする"></i>
		                                    </button>
		                                    <button type="button" class="btn btn-default btn-sm m-r-5" data-placement="bottom" id="code_minus">
		                                    <i class="fa fa-search-minus" data-toggle="tooltip" title="小さくする"></i>
		                                    </button>
		                                  <select class="box form-control" name="language" id="language_id">
		                                    <option value="">使用する言語</option>
		                                    <option value="0" selected>Java</option>
		                                    <option value="1">JavaScript</option>
		                                  </select>
		                                </div>
		                              </div>
		                              <div id="editor" style="height: 600px" th:text="${assignmentdetailDto.answer}" ></div>
		                              <textarea id="answer_text" name="answerText" style="display: none;" ></textarea>
		                              <div class="footer d-flex justify-content-between">
		                                <div class="col-md-3">
		                                  <button th:unless="${assignmentdetailDto.handNum} gt 0" type="button" class="btn btn-primary" id="answer_btn" data-toggle="tooltip" title="提出して採点します">提出</button>
		                                  <button th:if="${assignmentdetailDto.handNum} gt 0" type="button" class="btn btn-primary" id="answer_btn" data-toggle="tooltip" title="提出して採点します。再提出はポイントが減点されます">再提出</button>
		                                </div>
		                                <div class="col-md-3">
		                                  <div class="info-box">
		                                    <span class="info-box-icon bg-primary"><i class="fas fa-pen"></i></span>
		                      
		                                    <div class="info-box-content score_result"   data-toggle="tooltip" title="提出済みの場合はクリックで詳細へ">
		                                      <span class="info-box-text">採点結果</span>
		                                      <span class="info-box-number totalScore" th:text="${assignmentdetailDto.point}"></span>
		                                    </div>
		                                    <!-- /.info-box-content -->
		                                  </div>
		                                </div>
		                              </div>                            
		                            </div>
		                          </div>
	                          </form>
	                        </div>
	                        <!--2ページ目-->
	                        <div class="tab-pane" id="tab_2">
	                          <form id="answer_file_form" enctype="multipart/form-data" method="post">
	                              <input type="hidden" name="assignmentId" th:value="${assignmentdetailDto.assignmentId}">
		                          <div class="answer_wrap">
		                            <div class="form-group input-file-group d-flex">
		                              <div class="input-group col-md-8">
		                                <div class="custom-file">
		                                  <input type="file" class="custom-file-input" id="exampleInputFile1" name="answerFile1" >
		                                  <label class="custom-file-label" for="exampleInputFile1">Choose file</label>
		                                </div>
		                              </div>
		                            </div>
		                            <div class="form-group input-file-group d-flex">
		                              <div class="input-group col-md-8">
		                                <div class="custom-file">
		                                  <input type="file" class="custom-file-input" id="exampleInputFile2" name="answerFile2" >
		                                  <label class="custom-file-label" for="exampleInputFile2">Choose file</label>
		                                </div>
		                              </div>
		                            </div>
		                            <div class="form-group input-file-group d-flex">
		                              <div class="input-group col-md-8">
		                                <div class="custom-file">
		                                  <input type="file" class="custom-file-input" id="exampleInputFile3" name="answerFile3" >
		                                  <label class="custom-file-label" for="exampleInputFile3">Choose file</label>
		                                </div>
		                              </div>
		                            </div>
		                            <div class="form-group input-file-group d-flex">
		                              <div class="input-group col-md-8">
		                                <div class="custom-file">
		                                  <input type="file" class="custom-file-input" id="exampleInputFile4" name="answerFile4" >
		                                  <label class="custom-file-label" for="exampleInputFile4">Choose file</label>
		                                </div>
		                              </div>
		                            </div>
		                            <div class="form-group input-file-group d-flex">
		                              <div class="input-group col-md-8">
		                                <div class="custom-file">
		                                  <input type="file" class="custom-file-input" id="exampleInputFile5" name="answerFile5" >
		                                  <label class="custom-file-label" for="exampleInputFile5">Choose file</label>
		                                </div>
		                              </div>
		                            </div>
		                            <div class="footer d-flex justify-content-between">
		                              <div class="col-md-3">
		                                <button th:unless="${assignmentdetailDto.handNum} gt 0"  type="button" class="btn btn-primary" id="answer_file_btn" data-toggle="tooltip" title="提出して採点します">提出</button>
		                                <button th:if="${assignmentdetailDto.handNum} gt 0" type="button" class="btn btn-primary" id="answer_file_btn" data-toggle="tooltip" title="提出して採点します。再提出はポイントが減点されます">再提出</button>
		                              </div>
		                              <div class="col-md-3">
		                                <div class="info-box">
		                                  <span class="info-box-icon bg-primary"><i class="fas fa-pen"></i></span>
		                    
		                                  <div class="info-box-content score_result"  data-toggle="tooltip" title="提出済みの場合はクリックで詳細へ">
		                                    <span class="info-box-text">採点結果</span>
		                                    <span class="info-box-number totalScore" th:text="${assignmentdetailDto.point}"></span>
		                                  </div>
		                                  <!-- /.info-box-content -->
		                                </div>
		                              </div>
		                            </div> 
		                          </div>
	                          </form>
	                        </div>
	                      </div>
	                    </div>
                  </div>
                </div>
                
                <!-- 採点結果 -->
                <div class="col-md-12">
                  <div class="card card-outline card-primary">
                    <div class="card-header d-flex p-0">
                      <h3 class="card-title p-3">採点結果</h3>
                    </div>
	                 <div class="card-body">
		                  <div class="col-md-10" id="compile-err">
		                    <p>コンパイルエラーの内容</p>
		                  	<textarea id="compile-msg" rows="4" cols="120" disabled></textarea>
		                  </div>
		                  <div class="row d-flex">
			                  <div class="col-md-6">
			                    <div class="info-box">
			                      <span class="info-box-icon bg-success"><i class="far fa-window-maximize"></i></span>
			        
			                      <div class="info-box-content">
			                        <span class="info-box-text">出力結果の得点</span>
			                        <span class="info-box-number"  id="scoreForOutput" th:text="|${assignmentdetailDto.gradingResultDto.scoreForOutput}点|"></span>
			                      </div>
			                      <!-- /.info-box-content -->
			                    </div>
			                  </div>
			                  
			                  <div class="col-md-6">
			                    <div class="info-box">
			                      <span class="info-box-icon bg-success"><i class="far fa-file-code"></i></span>
			        
			                      <div class="info-box-content">
			                        <span class="info-box-text">ソースコードの得点</span>
			                        <span class="info-box-number" id="scoreForSource" th:text="|${assignmentdetailDto.gradingResultDto.scoreForSource}点|"></span>
			                      </div>
			                      <!-- /.info-box-content -->
			                    </div>
			                  </div>
		                  </div>
		                  <div class="col-md-10">
		                    <div class="info-box">
		                      <span class="info-box-icon bg-info"><i class="far fa-star"></i></span>
		        
		                      <div class="info-box-content">
		                        <span class="info-box-text">ポイント（点数+難易度ボーナス-提出回数減点）</span>
		                        <span class="info-box-number" id="point" th:text="|${assignmentdetailDto.gradingResultDto.point}点|"></span>
		                      </div>
		                      <!-- /.info-box-content -->
		                    </div>
		                  </div>
		                  
	                    </div>
	                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        </div>
        <!-- /.row -->
        <button id="dialog-grading-correct" type="button" class="btn btn-default" data-toggle="modal"   data-target="#modal-correct"></button>
        <button id="dialog-grading-incorrect" type="button" class="btn btn-default" data-toggle="modal"   data-target="#modal-incorrect"></button>
        <button id="dialog-grading-error" type="button" class="btn btn-default" data-toggle="modal"   data-target="#modal-error"></button>
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- 正解ダイアログ -->
<div class="modal fade" id="modal-correct">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center align-items-center">
        <i class="far fa-3x fa-check-circle correct-ans"></i>
        <div class="dialog-text"><h4>正解です！</h4></div>
	      </div>
	      <div class="modal-footer justify-content-end">
	        <button type="button" class="btn-sm btn-primary dialog-close refresh-btn" data-dismiss="modal">Close</button>
	      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- 不正解ダイアログ -->
<div class="modal fade" id="modal-incorrect">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center align-items-center">
          <i class="fas fa-3x fa-exclamation-triangle incorrect-ans"></i>
          <div class="dialog-text"><h4>残念、不正解です！</h4></div>
	    </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
          <div class="dialog-text">詳しくは採点結果をクリックしてください</div>
	    </div>
	    <div class="modal-footer justify-content-end">
	        <button type="button" class="btn-sm btn-primary dialog-close refresh-btn" data-dismiss="modal">Close</button>
	    </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- エラーダイアログ -->
<div class="modal fade" id="modal-error">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body d-flex justify-content-center align-items-center">
          <i class="fas fa-times fa-3x error-ans"></i>
          <div class="dialog-text"><h4>コンパイルエラーです</h4></div>
	    </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
          <div class="dialog-text">プログラムを修正してください</div>
	    </div>
	    <div class="modal-footer justify-content-end">
	        <button type="button" class="btn-sm btn-primary dialog-close" data-dismiss="modal">Close</button>
	    </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
      <!-- /.modal -->
<!-- REQUIRED SCRIPTS -->
<meta id="parent" th:replace="/header/include_js"></meta>

<!-- bs-custom-file-input -->
<script th:src="@{/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>
<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
<!-- ace -->
  <script th:src="@{/ace/src/ace.js}" type="text/javascript" charset="utf-8"></script>
  <script th:src="@{/ace/src/ext-language_tools.js}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
/*<![CDATA[*/
const showWaiting = () =>{
	$("#waiting").addClass("d-flex");
	$("#waiting").show();
}
const hideWaiting = () =>{
	$("#waiting").removeClass("d-flex");
	$("#waiting").hide();
}

$(function () {
  
  bsCustomFileInput.init();
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
});

  const editor = ace.edit("editor");
  const defaultFontSize = 14;
  const MaxFontSize = 30;
  const MinFontSize = 10;
  let ctrlNum = 1;
  let fontsize = localStorage.getItem("codeFont");
  if( fontsize == null ){
    fontsize = defaultFontSize;
  }
  editor.setOptions({
      enableSnippets: true
    });
  editor.setTheme("ace/theme/eclipse");
  editor.setFontSize(Number(fontsize));
  editor.session.setMode("ace/mode/java");

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $("#compile-err").hide();
    $("#dialog-grading-correct").hide();
    $("#dialog-grading-incorrect").hide();
    $("#dialog-grading-error").hide();
  });

  //＋ボタンクリック
  $(document).on('click','.refresh-btn',function(){
	  location.reload();
  });
  //＋ボタンクリック
  $(document).on('click','#code_plus',function(){
    checkFontSize();
    if($(this).prop("disabled") == false){
      fontsize++;
      editor.setFontSize(fontsize);
      localStorage.setItem("codeFont",fontsize);
    }
    
  })
  //－ボタンクリック
  $(document).on('click','#code_minus',function(){
    checkFontSize();
    if( $(this).prop("disabled") == false ){
      fontsize--;
      editor.setFontSize(fontsize);
      localStorage.setItem("codeFont",fontsize);
    }
  })
  //編集ボタンクリック
  $(document).on('click','#question-edit',function(){
    const url = /*[[@{/assignment/edit}]]*/ "/assignment/edit";

    //alert(url);
    window.location.href = url + "?assignmentId="+$("#assignmentId").val();
  })
  
  const checkFontSize = () =>{
    let ret = true;
    if( fontsize <= MinFontSize ){
      $("#code_plus").prop("disabled", false);
      $("#code_minus").prop("disabled", true);
      ret = false;
    }else if( fontsize >= MaxFontSize ){
      $("#code_plus").prop("disabled", true);
      $("#code_minus").prop("disabled", false);
      ret = false;
    }else{
      $("#code_plus").prop("disabled", false);
      $("#code_minus").prop("disabled", false);
    }

    return ret;
  }

  //提出ボタン
  $(document).on('click','#answer_btn',function(){
    const langId = $("#language_id").val();
   
    if( langId.length == 0 ){
      alert("言語を選択してください");
      return;
    }
    
    showWaiting();
    $("#compile-err").hide();
    const waitingBox = $("#waiting");
    
    const ansText = editor.getValue();
    $("#answer_text").val(ansText);
    const formdata = new FormData($('#answer_text_form').get(0));
    const ajaxUrl = /*[[@{/grading/text}]]*/ "/grading/text";
    $.ajax({
        url  : ajaxUrl,
        type : "POST",
        data : formdata,
        cache       : false,
        contentType : false,
        processData : false,
        dataType    : "json"
    })
    .done(function(data){
    	hideWaiting();
    	if( data.correct ){    		
    		//正解！
    		const totalScore = data.scoreForOutput + data.scoreForSource;
    		$(".totalScore").text(totalScore);
    		//alert("正解:詳細は点数をクリック");
    		$("#dialog-grading-correct").click();
            //location.reload();
    	}else if( data.compleErrMsg != null && data.compleErrMsg != "" ){
    		//alert("コンパイルエラーです");
    		$("#dialog-grading-error").click();
    		//コンパイルエラー
    	    $("#compile-msg").text(data.compleErrMsg);
    	    $("#compile-err").show();
    	}else{
    		//エラー
    		$("#dialog-grading-incorrect").click();
    		//alert("不正解:詳細は点数をクリック");
            //location.reload();
    	}        
        $("#scoreForOutput").text(data.scoreForOutput );
        $("#scoreForSource").text(data.scoreForSource );
    })
    .fail(function(jqXHR, textStatus, errorThrown){
        alert("fail");
        //$("#waiting").hide();
        hideWaiting();
    });
    //alert(langId+":"+ansText);
    //$("#waiting").hide();
  })
  
  //提出ボタン（ファイル）
  $(document).on('click','#answer_file_btn',function(){
    const inputVal = $("#exampleInputFile1").val();
    if( inputVal.length == 0 ){
      alert("ファイルを選択してください");
      return;
    }
    //alert(inputVal);
    const formdata = new FormData($('#answer_file_form').get(0));
    
    $("#waiting").show();
    $("#compile-err").hide();

    const ajaxUrl = /*[[@{/grading/file}]]*/ "/grading/file";
    $.ajax({
        url  : ajaxUrl,
        type : "POST",
        data : formdata,
        cache       : false,
        contentType : false,
        processData : false,
        dataType    : "json"
    })
    .done(function(data){
    	hideWaiting();
    	if( data.correct ){
    		//正解！
    		const totalScore = data.scoreForOutput + data.scoreForSource;
    		$(".totalScore").text(totalScore);
    		$("#dialog-grading-correct").click();
    	}else if( data.compleErrMsg != null && data.compleErrMsg != "" ){
    		//コンパイルエラー
    		$("#dialog-grading-error").click();
    	    $("#compile-msg").text(data.compleErrMsg);
    	    $("#compile-err").show();
    	}else{
    		//エラー
    		$("#dialog-grading-incorrect").click();
    	}        
        //$("#waiting").hide();
        $("#scoreForOutput").text(data.scoreForOutput );
        $("#scoreForSource").text(data.scoreForSource );
    })
    .fail(function(jqXHR, textStatus, errorThrown){
        alert("fail");
        //$("#waiting").hide();
        hideWaiting();
    });
    //alert(langId+":"+ansText);
    //$("#waiting").hide();
  })

  //スコア詳細ボタン
  $(document).on('click','.score_result',function(){
	  
	 if( $(this).find(".totalScore").text() == "未提出" ){
		 alert("採点がされていません");
		 return;
	 }
	  const resultUrl = /*[[@{/assignment/result}]]*/ "/assignment/result";
	  window.location.href = resultUrl + "?assignmentId="+$("#assignmentId").val();
  });
/*]]>*/
</script>

</body>

</html>