<!DOCTYPE html>
<html lang="en">
<head>
  <meta id="parent" th:replace="/header/include_css"></meta>

  <!-- DataTables -->
  <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <!-- ヘッダー -->
   <div id="parent" th:replace="/header/header"></div>   

  <!-- サイドバー -->
    <div id="parent" th:replace="/header/sidebar"></div>  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 class="m-0">問題作成確認</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">        
        <!-- Main row -->
        <div class="row">
          以下のような問題を登録します。よろしいですか？
        </div>
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            <div class="card card-primary shadow-none" th:object="${assignmentDto}">
              <div class="card-header">
                <h1 class="card-title" th:text="*{title}"></h1>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="d-flex">
                  <div class="col-md-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-primary"><i class="fas fa-layer-group"></i></span>
        
                      <div class="info-box-content">
                        <span class="info-box-text">問題グループ</span>
                        <span class="info-box-number" th:text="*{group}"></span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div class="info-box">
                      <span class="info-box-icon bg-success"><i class="far fa-grin-tongue-squint"></i></span>
        
                      <div class="info-box-content">
                        <span class="info-box-text">問題難易度</span>
                        <span class="info-box-number" th:text="*{difficulty}">5</span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  </div>
                    
                </div>
                
                <!-- 問題文 -->
                <div class="col-md-12">
                  <div class="card card-outline card-primary">
                    <div class="card-header">
                      <h3 class="card-title">問題文</h3>
                    </div>
                    <div class="card-body"  th:utext="*{content}">
                    </div>
                  </div>
                </div>
                <!-- 解答設定 -->
                <div class="col-md-12">
                  
                  <div class="card">
                    <div class="card-header d-flex p-0">
                      <h3 class="card-title p-3">解答</h3>
                    </div>
                    <div class="card-body">
                      <table id="public_list" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>No.</th>
                          <th>入力値</th>
                          <th>出力値</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr th:each="dto,status:${assignmentDto.answerList}">
                            <td th:text="${status.count}">1</td>
                            <td><textarea th:text="${dto.input}" disabled></textarea></td> 
                            <td><textarea th:text="${dto.output}" disabled ></textarea></td> 
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- 公開設定 -->
                <div class="col-md-12">
                  
                  <div class="card">
                    <div class="card-header d-flex p-0">
                      <h3 class="card-title p-3">公開設定</h3>
                    </div>
                    <div class="card-body">
                      <table id="public_list" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>No.</th>
                          <th>クラス名</th>
                          <th>公開設定</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr th:each="dto,status:${assignmentDto.publicStateList}">
                            <td th:text="${status.count}">1</td>
                            <td th:text="${dto.homeroomName}"></td> 
                            <td>
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn bg-primary active">
                                  <input type="radio" name="options" id="option_b1" autocomplete="off" disabled th:checked="${dto.publicState == 0 or dto.publicState == null }" > 未公開
                                </label>
                                <label class="btn bg-primary">
                                  <input type="radio" name="options" id="option_b2" autocomplete="off" disabled th:checked="${dto.publicState == 1}"> 公開
                                </label>
                                <!-- 
                                <label class="btn bg-primary">
                                  <input type="radio" name="options" id="option_b3" autocomplete="off" disabled th:checked="${dto.publicState == 2}"> 必須公開
                                </label>
                                 -->
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- スキル設定 -->
                <div class="col-md-12">
                  
                  <div class="card">
                    <div class="card-header d-flex p-0">
                      <h3 class="card-title p-3">スキル設定</h3>
                    </div>
                    <div class="card-body">
                      <h4>以下のスキルが設定されています</h4>
                      <div th:utext="${assignmentDto.skillIdString}"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        <div class="row col-md-6">
        	<div class="col-2">
        	  <button class="btn btn-primary" id="btn-create">登録</button>
        	</div>
        	<div class="col-2">
        		<button class="btn btn-primary" id="btn-return">戻る</button>
        	</div>
        </div>          
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- PAGE PLUGINS -->
<meta id="parent" th:replace="/header/include_js"></meta>

<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
<script>

$(document).on('click', '#btn-create', function(){

	$.ajax({
        type : "POST",                  // HTTP通信の種類
        url  : /*[[@{/assignment/insert}]]*/ "/assignment/insert",                 // リクエストを送信する先のURL
        dataType : "text"              // サーバーから返されるデータの型
	}).done(function(data) {
		alert(data);
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
        alert("登録に失敗しました");
    });
});

$(document).on('click', '#btn-return', function(){
	var url = /*[[@{/assignment/create}]]*/ "/assignment/create";
	url = url + "?returnFlg=1";
	window.location.href = url;
});
</script>

</body>

</html>