<!DOCTYPE html>
<html lang="en">
<head>
  <meta id="parent" th:replace="/header/include_css"></meta>
  <!-- include summernote css -->
  <link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">
  <!-- DataTables -->
  <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">
  <!-- bootstrap slider -->
  <link rel="stylesheet" th:href="@{/plugins/bootstrap-slider/css/bootstrap-slider.min.css}">

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  
  <!-- ヘッダー -->
   <div id="parent" th:replace="/header/header"></div>   

  <!-- サイドバー -->
    <div id="parent" th:replace="/header/sidebar"></div>  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <h1 class="m-0">情報管理</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link" th:classappend="${kind.equals('user')} ? active : '' " href="#user-regist" data-toggle="tab">ユーザー登録</a></li>
                  <li class="nav-item"><a class="nav-link" href="#user-csv-regist" data-toggle="tab">ユーザーCSV登録</a></li>
                  <li class="nav-item"><a class="nav-link" href="#edit-class" data-toggle="tab">クラス編集</a></li>
                  <li class="nav-item"><a class="nav-link" href="#edit-skill" data-toggle="tab">スキル編集</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <!-- ユーザーの登録 -->
                  <div class="active tab-pane" id="user-regist">                    
                    <form th:action="@{/manage/user_confirm}" method="POST"  enctype="multipart/form-data" th:object="${userInputForm}">
                      <p id="error" th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}"></p>
                      <div class="form-group">
                        <label for="icon" class="label-name">アイコン</label>
                        <div class="user-icon-dnd-wrapper">
                          <input type="file" name="icon" id="input_file" accept="image/*">
                          <div id="preview_field"></div>
                          <div id="drop_area">drag and drop<br>or<br>click here.</div>
                          <div id="icon_clear_button"><i class="far fa-times-circle"></i></div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectBorder">ロール</label>
                        <select class="form-control" id="exampleSelectBorder" name="roleId" th:field="*{roleId}">
                          <option value="0">学生</option>
                          <option value="1">教員</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="classSelect">クラス</label>
                        <select class="form-control" id="classSelect" name="homeroomId" th:field="*{homeroomId}">
                        	<option th:each="dto:${homeroomList}" th:value="${dto.homeroomId}" th:text="${dto.homeroomName}" ></option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="student-no">学籍番号（教員は不要）</label>
                        <input type="text"  name="studentNo" id="student-no" class="form-control" placeholder="学籍番号"  th:field="*{studentNo}">
                      </div>
                      <div class="form-group">
                        <label for="mail">メールアドレス<span class="float-right text-danger">（必須）</span></label>
                        <input type="text" name="mail" id="mail" class="form-control" placeholder="メールアドレス" th:field="*{mail}">
                      </div>
                      <div class="form-group">
                        <label for="name">名前<span class="float-right text-danger">（必須）</span></label>
                        <input type="text"  name="name" id="name" class="form-control" placeholder="名前" th:field="*{name}">
                      </div>
                      <div class="form-group">
                        <label for="nickname">ニックネーム<span class="float-right text-danger">（必須）</span></label>
                        <input type="text"  name="nickname" id="nickname" class="form-control" placeholder="ニックネーム" th:field="*{nickname}">
                      </div>
                      <div class="form-group">
                        <label for="password">パスワード<span class="float-right text-danger">（必須）</span></label>
                        <input type="password" name="pass1" id="password" class="form-control" placeholder="パスワード">
                      </div>
                      <div class="form-group">
                        <label for="password-confirm">パスワード（確認）</label>
                        <input type="password" id="pass2" name="pass2"  class="form-control" placeholder="パスワード（確認）">
                      </div>
                      <div class="form-group">
                        <label for="admissionYear">入学（入社）年度<span class="float-right text-danger">（必須）</span></label>
                        <input type="text"  name="admissionYear" id="admissionYear" class="form-control" placeholder="入学（入社）年度" th:field="*{admissionYear}">
                      </div>
                      <div class="form-group">
                          <button class="btn btn-primary" id="btn-confirm">登録</button>
                      </div>
                    </form>
                  </div>
                  <!-- ユーザーのCSV登録 -->
                  <div class="tab-pane" id="user-csv-regist">
                    <form id="data_upload_form" enctype="multipart/form-data" method="post" >
                	  <div id="error">
                		<p id="errorMsg" ></p>
                	  </div>
                      <div class="form-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="customFile" name="uploadFile">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                      </div>
                      <div class="form-group">
                          <button type="button" class="btn btn-primary"  id="csv_start">登録</button>
                      </div>
                    </form>
                  </div>
                  <!-- 学科の情報 -->
                  <div class="tab-pane" id="edit-class">
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>クラスID</th>
                          <th>クラス名</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="dto:${homeroomList}">
                          	<td th:text="${dto.homeroomId}" ></td>
	                        <td class="d-flex align-items-center">
	                          <div class="text-muted classname-label hoomroomname" th:text="${dto.homeroomName}"></div>
	                          <i class="far fa-edit small-icon edit-classname" data-toggle="tooltip" title="クラス名の編集"></i>
	                          <div class="classname-edit d-none">
	                            <input type="text" name="hoomroomname" class="form-control hoomroomname"  th:value="${dto.homeroomName}">
	                            <button class="btn-sm btn-primary btn-classname-appy" th:data-id="${dto.homeroomId}"  >適用</button>
	                          </div>
                        </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <!-- スキル -->
                  <div class="tab-pane" id="edit-skill">
			        <div class="row">
			          <div class="col-md-12">
	                      <div class="input-group form-group">
	                        <label for="skill">スキル名<span class="float-right text-danger">（必須）</span></label>
                            <input type="text" name="name" id="insert-new-skill-name" class="form-control" placeholder="新規スキル名" >
	                        <span class="input-group-append">
	                          <button type="button" id="insert-new-skill" class="btn btn-primary btn-flat" data-toggle="tooltip" title="入力したスキル名を登録する">登録</button>
	                        </span>	          
	                      </div>
			          </div>
			        </div>
			        <hr>
			        <h4>スキル名一覧</h4>
                    <table id="skill-table" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>スキルID</th>
                          <th>スキル名</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="dto:${slillList}">
                          	<td th:text="${dto.skillId}" ></td>
	                        <td class="d-flex align-items-center">
	                          <div class="text-muted skillname-label skillname" th:text="${dto.name}"></div>
	                          <i class="far fa-edit small-icon edit-skillname" data-toggle="tooltip" title="スキル名の編集"></i>
	                          <div class="skillname-edit d-none">
	                            <input type="text" name="skillName" class="form-control skillname"  th:value="${dto.name}">
	                            <button class="btn-sm btn-primary btn-skillname-appy" th:data-id="${dto.skillId}"  >適用</button>
	                          </div>
                        </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        </form>          
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<meta id="parent" th:replace="/header/include_js"></meta>
<meta id="parent" th:replace="/utils/dialog"></meta>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script th:src="@{/plugins/jquery-mousewheel/jquery.mousewheel.js}"></script>
<script th:src="@{/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{/plugins/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/plugins/jquery-mapael/maps/usa_states.min.js}"></script>
<!-- typehead -->
<script th:src="@{/js/typeahead.bundle.js}"></script>
<!-- include summernote js -->
<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<script th:src="@{/plugins/summernote/lang/summernote-ja-JP.min.js}"></script>
<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.min.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
</head>
<script th:if="${completeflg}">
showMessage("success","登録完了です");
</script>
<script th:inline="javascript">
/*<![CDATA[*/
  let skillTable = null;
  
  $(document).on('click', '.edit-classname', function(){
    let label = $(this).parent().find(".classname-label");
    //alert($(this).parent().find(".classname-label").css("display"));

    if(label.css("display")=="block"){
      label.css("display","none");
      $(this).parent().find(".classname-edit").removeClass("d-none");
    }else{
      label.css("display","block");
      $(this).parent().find(".classname-edit").addClass("d-none");
    }
  });

  $(document).on('click', '.edit-skillname', function(){
    let label = $(this).parent().find(".skillname-label");
    //alert($(this).parent().find(".classname-label").css("display"));

    if(label.css("display")=="block"){
      label.css("display","none");
      $(this).parent().find(".skillname-edit").removeClass("d-none");
    }else{
      label.css("display","block");
      $(this).parent().find(".skillname-edit").addClass("d-none");
    }
  });
  
  $(document).on('click', '.btn-classname-appy', function(){
    let id = $(this).data("id");
    let name = $(this).siblings(".hoomroomname").val();
    let label = $(this).parent().siblings(".hoomroomname")
    //alert("適用クリック id="+id + " name=" + name);

    var ajaxUrl = /*[[@{/homeroom/update}]]*/ "/homeroom/update";

	$.ajax({
        type : "POST",                  // HTTP通信の種類
        url  : /*[[@{/homeroom/update}]]*/ "/homeroom/update",                 // リクエストを送信する先のURL
        dataType : "text",              // サーバーから返されるデータの型
        data : {id: id, name:name}
	}).done(function(data) {
		if( data == "ok"){
			label.html(name);
			showMessage("success","クラス名を更新しました");
			//alert("クラス名を更新しました");
		}else{
			showMessage("error","登録に失敗しました");
			//alert("登録に失敗しました");
		}
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
        alert("登録に失敗しました");
    });
  });
  

  $(document).on('click', '.btn-skillname-appy', function(){
    let id = $(this).data("id");
    let name = $(this).siblings(".skillname").val();
    let label = $(this).parent().siblings(".skillname")
    //alert("適用クリック id="+id + " name=" + name);

    var ajaxUrl = /*[[@{/skill/update}]]*/ "/skill/update";

	$.ajax({
        type : "POST",                  // HTTP通信の種類
        url  : /*[[@{/skill/update}]]*/ "/skill/update",                 // リクエストを送信する先のURL
        dataType : "json",              // サーバーから返されるデータの型
        data : {id: id, name:name}
	}).done(function(data) {
		if( data.success ){
			label.html(data.resultInfo.name);
			showMessage("success","スキル名を更新しました");
			//alert("クラス名を更新しました");
		}else{
			showMessage("error",data.message);
			//alert("登録に失敗しました");
		}
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
        alert("登録に失敗しました");
    });
  });
  
	//スキル新規登録
  $(document).on('click', '#insert-new-skill', function(){
    let name = $("#insert-new-skill-name").val();
    
    if( name.length == 0 ){
    	showMessage("error","スキル名を入力してください");
    	return;
    }
    //alert("適用クリック id="+id + " name=" + name);

    var ajaxUrl = /*[[@{/skill/insert}]]*/ "/skill/insert";

	$.ajax({
        type : "POST",                  // HTTP通信の種類
        url  : /*[[@{/skill/insert}]]*/ "/skill/insert",                 // リクエストを送信する先のURL
        dataType : "json",              // サーバーから返されるデータの型
        data : {name:name}
	}).done(function(data) {
		if( data.success ){
			//const id = data.resultInfo.id;
			const name = data.resultInfo.name;
			skillTable.row.add([
				data.resultInfo.skillId,
				data.resultInfo.name
			]).draw();
			showMessage("success","スキル名を追加しました");
			//alert("クラス名を更新しました");
		}else{
			showMessage("error",data.message);
			//alert("登録に失敗しました");
		}
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
        alert("登録に失敗しました");
    });
  });
  
  $(function () {
	  
	  
    // クリックで画像を選択する場合
    $('#drop_area').on('click', function () {
      $('#input_file').click();
    });

    $('#input_file').on('change', function () {
      // 画像が複数選択されていた場合
      if (this.files.length > 1) {
        alert('アップロードできる画像は1つだけです');
        $('#input_file').val('');
        return;
      }
      handleFiles(this.files);
    });
    
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
    skillTable = $('#skill-table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });

  // ドラッグしている要素がドロップ領域に入ったとき・領域にある間
$('#drop_area').on('dragenter dragover', function (event) {
  event.stopPropagation();
  event.preventDefault();
  $('#drop_area').css('border', '1px solid #333');  // 枠を実線にする
});

// ドラッグしている要素がドロップ領域から外れたとき
$('#drop_area').on('dragleave', function (event) {
  event.stopPropagation();
  event.preventDefault();
  $('#drop_area').css('border', '1px dashed #aaa');  // 枠を点線に戻す
});

// ドラッグしている要素がドロップされたとき
$('#drop_area').on('drop', function (event) {
  event.preventDefault();

  $('#input_file')[0].files = event.originalEvent.dataTransfer.files;

  // 画像が複数選択されていた場合
  if ($('#input_file')[0].files.length > 1) {
    alert('アップロードできる画像は1つだけです');
    $('#input_file').val('');
    return;
  }
  handleFiles($('#input_file')[0].files);
});

// 選択された画像ファイルの操作
function handleFiles(files) {
  var file = files[0];
  var imageType = 'image.*';

  // ファイルが画像が確認する
  if (! file.type.match(imageType)) {
    alert('画像を選択してください');
    $('#input_file').val('');
    $('#drop_area').css('border', '1px dashed #aaa');
    return;
  }

  //画像が３M以上
  if( file.size > 3145728 ){
	    alert('ファイルは３MB以内にしてください');
	    $('#input_file').val('');
	    $('#drop_area').css('border', '1px dashed #aaa');
	    return;
  }
  
  $('#drop_area').hide();  // いちばん上のdrop_areaを非表示にします
  $('#icon_clear_button').show();  // icon_clear_buttonを表示させます

  var img = document.createElement('img');  // <img>をつくります
  var reader = new FileReader();
  reader.onload = function () {  // 読み込みが完了したら
    img.src = reader.result;  // readAsDataURLの読み込み結果がresult
    img.classList.add("img-circle");
    img.classList.add("profile-user-img");
    img.classList.add("img-fluid");
    $('#preview_field').append(img);  // preview_filedに画像を表示
  }
  reader.readAsDataURL(file); // ファイル読み込みを非同期でバックグラウンドで開始
} 

// アイコン画像を消去するボタン
$('#icon_clear_button').on('click', function () {
  $('#preview_field').empty();  // 表示していた画像を消去
  $('#input_file').val('');  // inputの中身を消去
  $('#drop_area').show();  // drop_areaをいちばん前面に表示
  $('#icon_clear_button').hide();  // icon_clear_buttonを非表示
  $('#drop_area').css('border', '1px dashed #aaa');  // 枠を点線に変更
})

// drop_area以外でファイルがドロップされた場合、ファイルが開いてしまうのを防ぐ
$(document).on('dragenter', function (event) {
  event.stopPropagation();
  event.preventDefault();
});
$(document).on('dragover', function (event) {
  event.stopPropagation();
  event.preventDefault();
});
$(document).on('drop', function (event) {
  event.stopPropagation();
  event.preventDefault();
});

////CSV処理///

	$('#csv_start').on('click', function() {
		//alert("csv_start")
		// 要素規定の動作をキャンセルする
        //event.preventDefault();
				
		if( !confirm("処理を開始します。途中で中断はできません。\nよろしいですか？")){
			return;
		}

        var ajaxUrl = /*[[@{/user/csvinput}]]*/ "/user/csvinput";
        //alert(ajaxUrl)
		//Ajax！
        if(window.FormData){
        	var formData = new FormData($('#data_upload_form').get()[0]);
        	$.ajax({
                type : "POST",                  // HTTP通信の種類
                url  : ajaxUrl,                 // リクエストを送信する先のURL
                dataType : "json",              // サーバーから返されるデータの型
                data : formData,                // サーバーに送信するデータ
                processData : false,
                contentType: false,

    	        beforeSend : function(xhr, settings) {
    	            // disturb double submit
    	            $("#csv_start").attr('disabled', true);
    	    		dispLoading("CSV登録処理中...");
    	        },
    	        complete : function(xhr, textStatus) {
    	            // allow resubmit
    	            $("#csv_start").attr('disabled', false);
    	        }
    	        
            }).done(function(json) {        // Ajax通信が成功した時の処理
                $("#csv_start").attr('disabled', false);
    			$("#errorMsg").text("");
    			//エラーメッセージがある場合はエラーを表示する
        		if( json.errorMsg != null){
    	    		$("#errorMsg").text(json.errorMsg);
        		}else if(json.now > 0){
        			showMessage("success","登録完了しました！\n処理件数"+json.total+"件");
        			//alert("登録完了しました！\n処理件数"+json.total+"件");
        		}
                removeLoading();
            }).fail(function(XMLHttpRequest, textStatus, errorThrown) { // Ajax通信が失敗した時の処理
                alert("アップロードが失敗しました。"+textStatus+" errorThrown:"+errorThrown);
            });
        }else{
        	alert("アップロードに対応できていないブラウザです。");
        }
	});
	

	// Loadingイメージ表示関数
	function dispLoading(msg){
	    // 画面表示メッセージ
	    var dispMsg = "";

	    $("#loading").remove();
	    // 引数が空の場合は画像のみ
	    if( msg != "" ){
	        dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
	    }
	    // ローディング画像が表示されていない場合のみ表示
	    //if($("#loading").size() == 0){
	        $("body").append("<div id='loading'>" + dispMsg + "</div>");
	    //}
	}


	// Loadingイメージ削除関数
	function removeLoading(){
	 $("#loading").remove();
	}
/*]]>*/
</script>
</body>

</html>
