
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- overlayScrollbars -->
<script th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>
<!-- bs-custom-file-input -->
<script th:src="@{/plugins/bs-custom-file-input/bs-custom-file-input.min.js}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script th:src="@{/plugins/jquery-mousewheel/jquery.mousewheel.js}"></script>
<script th:src="@{/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{/plugins/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/plugins/jquery-mapael/maps/usa_states.min.js}"></script>

<!-- azcafe -->
<script th:src="@{/js/azcafe.js}"></script>