	
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="dashboad.html" class="brand-link">
      <img src="img/logo.png" alt="AdminLTE Logo" class="brand-image elevation-3" style="opacity: .8">
    </a>
	<div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel department mt-1 pb-1 mb-1 d-flex align-items-center">
        <i class="fas fa-chalkboard"></i>
        <div class="info">
          <a href="user-info.html" class="d-block" th:text="${session['LoginInfo'].courseName}"></a>
        </div>
      </div>
      <div class="user-panel mt-3 pb-2 mb-3 d-flex">
        <div class="image">
          <div th:unless="${session['LoginInfo'].avater}">
            <img src="img/no_image.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div th:if="${session['LoginInfo'].avater}">
            <img th:src="@{'getImage/'+${session['LoginInfo'].avater}}" class="img-circle elevation-2" alt="User Image">
          </div>
          
        </div>
        <div class="info">
          <a href="user-info.html" class="d-block" th:text="${session['LoginInfo'].nickName}"></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a th:href="@{dashboad}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                ダッシュボード
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="question-search.html" class="nav-link">
              <i class="nav-icon fas fa-code"></i>
              <p>
                問題検索
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="ranking.html" class="nav-link">
              <i class="nav-icon fas fa-crown"></i>
              <p>
                ランキング
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="question-create.html" class="nav-link">
              <i class="nav-icon fas fa-plus-circle"></i>
              <p>
                問題作成
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="user-search.html" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                ユーザー検索
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{management}" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                管理
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="password-reset.html" class="nav-link">
              <i class="nav-icon fas fa-unlock-alt"></i>
              <p>
                パスワードリセット
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
    </aside>